*{
  align-items: center;
  text-align: center;
}
.App {
  width:100%;
  height: 100vh;
  text-align: center;
  background-color: rgb(250, 243, 241);
}
.container-navigation{
  margin: auto;
  background-color: rgb(250, 243, 241);
}

